//=========================================================================
// Parallax Order
//=========================================================================
section {
	position: relative;
}
#main-header {
	position: relative;
}
#main-content {
	position: relative;
	background: $clr-bg-default;
}
#main-footer {
	position: relative;
}
