h1 { font-size: 36px; line-height: 36px; font-weight: 500; line-height: 1.2em;}
h2 { font-size: 32px; line-height: 32px; font-weight: 500; line-height: 1.2em; }
h3 { font-size: 26px; line-height: 26px; font-weight: 500; line-height: 1.2em;}
h4 { font-size: 20px; line-height: 20px; font-weight: 500; line-height: 1.2em;}
h5 { font-size: 16px; line-height: 16px; font-weight: 500; line-height: 1.2em;}
h6 { font-size: 14px; line-height: 14px; font-weight: 500; line-height: 1.2em;}

h1.jumbo {
	font-size: 48px;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
	margin-bottom: .5em;
	.hilight-blue {
		color: $clr-blue;
		font-weight: bold;
	}
	.hilight-white {
		font-weight: bold;
	}
}
p {
	line-height: 1.6em;
}
ul {
	padding-left: 1em;
}
a {
	color: $clr-blue;
}

blockquote {
	border: 1px solid $clr-border;
	border-left: 4px solid $clr-blue;
	padding: 10px 20px;
	margin-bottom: 1em;
	background-color: #f7f7f7;
	.meta {
		margin-top: 5px;
		color: $clr-meta;
		display: block;
	}
}

.article, .entry {
	p {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: .5em;
		color: $clr-header2;
	}

	.img-inline {
		float: left;
		margin-right: 15px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
}