.bs-client {
	.covered-img {
		background-color: #fff;
		border-bottom: none;
		@include border-radius(5px 5px 0 0);
	}
	.company {
		padding: 10px 20px;
		color: #fff;
		background-color: $clr-blue;
		border: 1px solid $clr-border;
		@include border-radius(0 0 5px 5px);
		h5 {
			color: #fff;
			font-size: 18px;
		}
	}

	.client-list {
		margin-bottom: 40px;
		h3 {
			margin-bottom: 20px;
		}
	}
}